*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Lobster', cursive;
}

.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../Images/1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;

}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;

}

.text-box p{
    margin: 25px 50px 40px;
    line-height: 1.3;
    font-size: 18px;
    font-weight: 100;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        padding-top: 60px;
        font-size: 20px;
    
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }

    }

 /*------- Course ------- */

@media (max-width: 400px){
    .course img{
        width: 250px;
    }
    .testimonial-row{
        display: flex;
        flex-direction: column;
    }
    .testimonial-col{
        margin: 15px    ;
    }
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.course h1{
    font-size: 38px;
    font-weight: 200;
    padding: 0 0 20px;
}
.hr{
    padding: 1px;
    background-color: #64a0e3;
    border: none;
    width: 100px;
    margin: auto;

}


.course p{
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 25px 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 25px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col h3{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.course img{
    width: 750px;
    max-width: 100%;
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus h1{
    font-size: 40px;
    margin: 15px 0px;

}
.campus p{
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px 10px;
}



.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    transition: 1s;
    display: block;
}
.campus-col:hover img{
    transform: scale(1.2);
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: 0.5s;
    
}

/* .layer:hover{
    background: rgba(226, 0, 0, 0.7);
    
} */

.layer h3{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    color: #fff;
    font-size: 28px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* Facilities */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.facilities h3{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    padding: 10px 0;
}

.facilities img{
    margin-top: 3%;
    width: 90%;
}

.facilities p{
    color: #777;
    padding: 10px 0;
    font-size: 17px;
    line-height: 1.6;

}

.facilities-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #f44336;
    border: 1px solid #f44336;
    padding: 14px 34px;
    color: #fff;
    font-size: 13px;
    margin-top: 3%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.facilities-btn:hover{
    border: 1px solid #fc5a4e;
    color: #fff;
    background-color: #fc5a4e;
    transition: 1s;
}

.testimonial{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonial h1{
    font-size: 40px;
    margin: 25px 0px;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 2%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}

.testimonial-col h3{
    margin: 10px 0;
    text-align: left;
}

.testimonial-col .fa{
    color: #f44336;
}


/* Call to action */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('../Images/1.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 80px 0;

}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/* Footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
}
.footer .fa{
    padding: 10px 0;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.icons .fa-heart-o{
    color: #f44336;

}